.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.8rem 0.8rem;
  justify-content: flex-start;
  gap: 115px;
}

.logo {
  width: 250px;
}

.login {
  background-color: rgb(23, 23, 228);
  color: floralwhite;
  padding: 0 30px;
  border-radius: 15px;
  height: 50px;
  cursor: pointer;
}
.login:hover {
  background-color: rgb(113, 113, 141);
  color: white;
}

.search {
  width: 100%;
  padding-left: 40px;
  padding-right: 30px;
  height: 50px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  border-radius: 12px;
}

.search::placeholder {
  color: #6c757d;
}
.search:hover {
  filter: brightness(98%);
}
